<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GANJA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="gameTitle">GANJA</h1>
    <div id="coinName">GanjaCoin: <span id="clickCount">0</span></div>
    <div id="tapCircle"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
